/*CSS Reset / Normalize*/

:root {
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

html {
    scroll-behavior: auto;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Josefin Sans", sans-serif;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sección Menu*/
section.menu {
    display: flex;
}

.menu__header {
    margin: auto 15px;
    display: flex;
    width: 20%;
    flex-direction: row;
    gap: 15px;
}

.menu__header img {
    max-height: 60px;
    align-self: center;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

nav {
    width: 70%;
    align-items: center;
}

.menu__list__item:hover {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    cursor: pointer;
}

.menu__list__item__contacto {
    display: none;
}

/*Sección Title*/
section.title {
    display: block;
    width: 90%;
    margin: 30px auto;
}

.title__div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}

/*Imagen de perfil circular*/
.title__profile {
    width: 286px;
    height: 286px;
    margin: 0px auto;
    border-radius: 50%;
}
/*Fin imagen circular*/

.title__profile:hover {
    border: solid 2px dodgerblue;
    width: 283px;
    height: 283px;
}

.title__bio {
    font-size: 2.8em;
    line-height: 1.5;
    text-align: center;
}

.title__subsection {
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

.title__bold:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
}

.title__network {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
}

.title__network__item {
    font-weight: bold;
    font-size: large;
}

.title__network__item:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: dodgerblue;
}

/*Sección About*/
section.about {
    display: flex;
}

.about__container {
    width: 90%;
    margin: 30px auto;
}

.about__signature {
    margin: 10px auto;
    width: 30%;
    height: 20%;
}

/*Sección Servicios*/
section.servicios {
    width: 90%;
    margin: 10px auto;
}

.servicios__line {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.servicios__box {
    display: flex;
    text-align: justify;
    align-items: normal;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
}

.servicios__img, .redesSociales__img, .tarifas__img {
    color: dodgerblue;
}

/*Sección Tarifas y Promociones*/
section.tarifas {
    width: 90%;
    margin: 10px auto;
}

.tarifas__line {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.tarifas__box {
    display: flex;
    text-align: justify;
    align-items: normal;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
}

/*Contacto*/
section.formcontacto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 30px;
    margin: 30px auto;
}

.formcontacto__contacto {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formcontacto__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formcontacto__input {
    height: 25px;
    width: 100%;
    border: transparent;
}

.formcontacto__textarea {
    width: 100%;
    border: transparent;
    height: 220px;
}

.formcontacto__input:hover, .formcontacto__textarea:hover, .formcontacto__botao:hover {
    cursor: pointer;
}

.formcontacto__input:focus, .formcontacto__textarea:focus {
    outline: none;
    border-bottom: 3px solid dodgerblue;
}

.formcontacto__input::placeholder, .formcontacto__textarea::placeholder {
    color: dodgerblue;
    font-size: 10px;
}

.formcontacto__botao {
    width: auto;
    height: 30px;
    align-self: center;
    background: dodgerblue;
    border: dodgerblue;
    color: white;
    font-weight: bold;
}

.formcontacto__botao:disabled {
    background: var(--cor-de-fundo);
    border: solid 2px lightgray;
    color: lightgray;
}

/*footeer*/
section.footer {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.footer__rodape {
    text-align: center;
    align-self: auto;
    font-size: 10px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width:1080px) {
    /* Menú */
    section.menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu__header {
        margin: auto 15px;
        display: flex;
        width: 90%;
        flex-direction: row;
        gap: 15px;
    }

    nav {
        display: flex;
        text-align: center;
        justify-content: end;
        margin: auto 20px;
    }

    .menu__list__item__contacto {
        display: flex;
    }

    .menu__list {
        display: none;
    }

    /*Titulo*/
    .title__network {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
    }

    /*Skills*/
    .skills__line, .hobbies__line {
        flex-wrap: wrap;
        gap: 30%;
    }

    .skills__box {
        max-width: 130px;
        max-height: 130px;
        font-size: 12px;
    }
    
    

    /*Contacto*/
    .formcontacto--esquerda {
        display: none;
    }

    .formcontacto__botao {
        width: auto;
        align-self: flex-start;
    }

}

/*Mobile*/
@media (max-width: 760px) {

    /*Menu*/
    .menu__header {
        width: 70%;
    }

    nav {
        width: 20%;
    }

    .menu__list__item__contacto {
        align-self: center;
        gap: 20px;
    }

    .menu__list {
        display: none;
    }

    /*Titulo*/
    .title__profile {
        width: 160px;
        height: 160px;
    }

    .title__profile:hover {
        border: solid 2px dodgerblue;
        width: 157px;
        height: 157px;
    }

    .title__div {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title__network {
        flex-direction: row-reverse;
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .title__container {
        width: 90%;
        justify-self: center;
        justify-content: center;
        text-align: left;
    }

    .title__bio {
        font-size: 1.8rem;
    }

    /*Sección sobre mi*/
    section.about {
        width: 90%;
        margin: auto 0px;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    

    /*Contacto*/
    .formcontacto--esquerda {
        display: none;
    }

    .formcontacto__botao {
        width: auto;
        align-self: flex-start;
    }

    /*Footer*/



}